.excalidraw {
  .excalifont {
    font-family: "Excalifont", "Xiaolai";
  }

  // WelcomeSreen common
  // ---------------------------------------------------------------------------

  .welcome-screen-decor {
    pointer-events: none;

    color: var(--color-gray-40);

    a {
      --color: var(--color-primary);
      color: var(--color);
      text-decoration: none;
      margin-bottom: -6px;
    }
  }

  &.theme--dark {
    .welcome-screen-decor {
      color: var(--color-gray-60);
    }
  }

  // WelcomeScreen.Hints
  // ---------------------------------------------------------------------------

  .welcome-screen-decor-hint {
    @media (max-height: 780px) {
      display: none !important;
    }

    @media (max-width: 980px) {
      &--help,
      &--menu {
        display: none !important;
      }
    }

    &--help {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 100%;

      :root[dir="rtl"] & {
        left: 0;
        right: auto;
      }

      svg {
        margin-top: 0.5rem;
        width: 85px;
        height: 71px;

        transform: scaleX(-1) rotate(80deg);

        :root[dir="rtl"] & {
          transform: rotate(80deg);
        }
      }
    }

    &--toolbar {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 2.75rem;
      display: flex;
      align-items: baseline;

      .welcome-screen-decor-hint__label {
        width: 120px;
        position: relative;
        top: -0.5rem;
      }

      svg {
        width: 38px;
        height: 78px;
        transform: rotate(180deg);

        :root[dir="rtl"] & {
          transform: rotate(180deg) scaleX(-1);
        }
      }
    }

    &--menu {
      position: absolute;
      width: max-content;
      max-width: 320px;
      font-size: 1rem;

      bottom: 100%;
      margin-bottom: 0.5rem;
      margin-inline-start: 0.6rem;

      display: flex;
      align-items: flex-end;
      gap: 0.5rem;

      svg {
        width: 41px;
        height: 94px;
        flex-shrink: 0;

        :root[dir="rtl"] & {
          transform: scaleX(-1);
        }
      }

      @media (max-width: 1024px) {
        right: 0;
        left: auto;
        margin-inline-start: 0;
        flex-direction: row-reverse;
        max-width: min(260px, 35vw);

        svg {
          transform: scaleX(-1);
        }

        .welcome-screen-decor-hint__label {
          max-width: 180px;
          text-align: right;
        }
      }

      @media (max-width: 860px) {
        display: none;
      }
    }
  }

  // WelcomeSreen.Center
  // ---------------------------------------------------------------------------

  .welcome-screen-center {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
  }

  .welcome-screen-center__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.75rem;

    .ExcalidrawLogo {
      .ExcalidrawLogo-icon {
        height: 4.5rem;
      }
      .ExcalidrawLogo-text {
        margin-left: 1.15rem;
      }
      .ExcalidrawLogo-title {
        font-size: 3rem;
        letter-spacing: 0.05em;
      }
      .ExcalidrawLogo-subtitle {
        font-size: 1.35rem;
        letter-spacing: 0.04em;
        margin-top: 4px;
      }
    }
  }

  .welcome-screen-center__heading {
    font-size: 1.125rem;
    text-align: center;
    line-height: 1.35rem;
  }

  .welcome-screen-menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
  }

  .welcome-screen-menu-item {
    box-sizing: border-box;

    pointer-events: var(--ui-pointerEvents);

    color: var(--color-gray-50);
    font-size: 0.875rem;

    width: 100%;
    min-width: 300px;
    max-width: 400px;
    display: grid;
    align-items: center;
    justify-content: space-between;

    background: none;
    border: 1px solid transparent;

    padding: 0.75rem;

    border-radius: var(--border-radius-md);

    grid-template-columns: calc(var(--default-icon-size) + 0.5rem) 1fr 3rem;

    &__text {
      display: flex;
      align-items: center;
      margin-right: auto;
      text-align: left;
      column-gap: 0.5rem;
    }

    &__icon {
      width: var(--default-icon-size);
      height: var(--default-icon-size);
    }

    &__shortcut {
      margin-left: auto;
      color: var(--color-gray-40);
      font-size: 0.75rem;
    }
  }

  .welcome-screen-menu-item:hover {
    text-decoration: none;
    background: var(--button-hover-bg);

    .welcome-screen-menu-item__shortcut,
    .welcome-screen-menu-item__icon,
    .welcome-screen-menu-item__text {
      color: var(--color-gray-100);
    }
  }

  .welcome-screen-menu-item:active {
    background: var(--button-hover-bg);
    border-color: var(--color-brand-active);

    .welcome-screen-menu-item__shortcut,
    .welcome-screen-menu-item__icon,
    .welcome-screen-menu-item__text {
      color: var(--color-gray-100);
    }
  }

  &.theme--dark {
    .welcome-screen-menu-item {
      color: var(--color-gray-60);

      &__shortcut {
        color: var(--color-gray-60);
      }
    }

    .welcome-screen-menu-item:hover {
      background-color: var(--color-surface-low);

      .welcome-screen-menu-item__icon,
      .welcome-screen-menu-item__shortcut,
      .welcome-screen-menu-item__text {
        color: var(--color-gray-10);
      }
    }

    .welcome-screen-menu-item:active {
      .welcome-screen-menu-item__icon,
      .welcome-screen-menu-item__shortcut,
      .welcome-screen-menu-item__text {
        color: var(--color-gray-10);
      }
    }
  }

  &.excalidraw--mobile {
    .welcome-screen-center {
      margin-bottom: 2rem;
    }
  }

  @media (max-height: 500px), (max-width: 320px) {
    .welcome-screen-center {
      display: none;
    }
  }

  // ---------------------------------------------------------------------------
}
